.formStyle {

  outline: 2px solid;
  padding: 30px;
}

.galleryRow {
  display: flex;
}

.componentStyle {
  position: absolute;
  top: 40%;
  width: 750px;
  left: 23%;
}

.subBlogItem {
  text-decoration: none;
  padding: 10px;
  background: orange;
  margin-left: 10px;
}

.subBlogItem:hover {
  background-color: red;
  color: white;
}

.notFound{
  font-size: 30px;
  position:absolute;
  top: 200px;;
}